.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto 5px;
}

:global(.cds--checkbox:checked + .cds--checkbox-label) {
  text-decoration: line-through;
}
